<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <p>text text <span style="color: green">text text</span> text text text text text text text text text text text text text text text text text text
        text
        text text text text text text text text text text text text text </p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <textarea placeholder="Text"></textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Item1</td>
                <td>Item2</td>
                <td>Item3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row1</td>
                <td>Row2</td>
                <td>Row3</td>
            </tr>
            <tr>
                <td>Row1</td>
                <td>Row2</td>
                <td>Row3</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>